h1 {
  color: red;
}
h2 {
  color: purple;
}
p {
  width: 500px;
}
section {
  list-style-type: square;
}
ol {
  text-decoration: underline;
  list-style-type: upper-roman; 
}

.pink {
  color: violet;
}
.underline {
  text-decoration: underline;
}