body {
	background-color: aquamarine;
}

.all {
	background-color: ghostwhite;
    color: #444;
	width: 400px;
	
	font-family: 'Oxygen', sans-serif;
	margin: auto auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 010px;
    padding-top: 10px;

}

h1 {
	text-align: center;
	font-size: 40px;	
	letter-spacing: 8px;
}

.form {
	margin: 0px auto;
	border: 2px solid grey;
	border-radius: 3px;
	height: 44px;
/*	width: fit-content;*/
	
}

button {
  /*  border: none;*/
    border: 4px;
    height: 44px;
    width: 148px;
    background-color: violet;
	color: white;
	font-size: 17px;
}

input {
	border: none;
	height: 38px;
    width: 342px;
    width: 242px;
    font-size: 17px;
	padding-left: 5px;
}

.todos {
	margin: 0px auto;
	margin: 20px auto;
    width: 396px;


}