.container {
  display: flex;
  flex-direction: row-reverse;
  /* nebo flex-direction: row*/;
  /* nebo flex-direction: column-reverse*/;
  flex-wrap: wrap;
  /*flex-wrap: reverse;*/
  /*flex-wrap: nowrap;*/
  justify-content: flex-end;
  flex-direction: row;
  /*flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse;*/
  width: 300px;
  
  
}

.item {
  width: 150px;
  height: 150px;
}

.red {
   background: darkred;
}

.yellow {
   background: yellow;
 }

.blue {
   background: blue;
}