main {
  font-family: 'Sen', sans-serif;
}

div {
  display: flex;
}
 img {
  width: 150px;
}
section {
  width: 200px;
  text-align: center;
}

a {
  display: block;
  color: green;
}

a:hover {
  color: lime;
  text-decoration: none;
  /**background: red;**/
}